<div class="prize-container-wrapper">
  <div class="image-wrapper">
    <img src="./assets/final-info-img.jpg" alt="festivel-banner">
  </div>
  <div class="info-wrapper">
    <p class="info-title-wrapper">ᲒᲐᲔᲛᲒᲖᲐᲕᲠᲔ THE FESTIVAL IN MALTA-ᲖᲔ!</p>
    <p class="info-text-wrapper">
      The Festival სერიების ფარგლებში, ევროპაბეთი უკვე მეორედ აძლევს პოკერის მოთამაშეებს <br> დაუვიწყარი მოგზაურობის შანსს.
    </p>
  </div>
  <!-- 16 მაისისდან 21 მაისამდე  -->
  <div class="from-to-wrapper">
    <div class="from-to-line"></div>
    <p class="from-to-text">15-დან 21 მაისის ჩათვლით, მალტა პოკერის ფესტივალს უმასპინძლებს</p>
  </div>
  <!--  -->
  <!-- თეიბლი -->
  <div class="bolo">
  <div class="category-table-wrapper">
    <div class="category-rules">
      <div class="line"></div>
      <div class="category-title">
        <p>A კატეგორიის საგზურში შედის</p>
      </div>
      <div class="rules-wrapper">
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-ticket-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">ორმხრივი ავიაბილეთი</p>
        </div>
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-event-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">The Festival in Malta<br> -ს მეინ ივენთის ბაი-ინი</p>
        </div>
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-event-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">Holdem ან Omaha ჰაიროლერ ტურნირის ბაი-ინი</p>
        </div>
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-hotel-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">სასტუმრო Golden Tulip Vivaldi Hote</p>
        </div>
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-money-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">€500 სახარჯი ფული</p>
        </div>
      </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="category-rules">
      <div class="line"></div>
      <div class="category-title">
        <p>A კატეგორიის საგზურში შედის</p>
      </div>
      <div class="rules-wrapper">
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-ticket-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">ორმხრივი ავიაბილეთი</p>
        </div>
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-event-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">The Festival in Malta<br> -ს მეინ ივენთის ბაი-ინი</p>
        </div>
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-event-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">Holdem ან Omaha ჰაიროლერ ტურნირის ბაი-ინი</p>
        </div>
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-hotel-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">სასტუმრო Golden Tulip Vivaldi Hote</p>
        </div>
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-money-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">€500 სახარჯი ფული</p>
        </div>
      </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="category-rules">
      <div class="line"></div>
      <div class="category-title">
        <p>A კატეგორიის საგზურში შედის</p>
      </div>
      <div class="rules-wrapper">
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-ticket-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">ორმხრივი ავიაბილეთი</p>
        </div>
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-event-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">The Festival in Malta <br> -ს მეინ ივენთის ბაი-ინი</p>
        </div>
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-hotel-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">სასტუმრო</p>
        </div>
        <div class="rule-item">
          <div class="rule-icon"><img src="./assets/final-item-money-icon.png" alt="tickets-logo"></div>
          <p class="rule-text">€500 სახარჯი ფული</p>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
  <!-- Teibli wrapperianad -->
</div>
</div>
  <div class="win-travel-table">
    <div class="win-travel-header">
      <div class="travel-table-line"></div>
      <p class="header-title">ᲛᲝᲘᲒᲔ ᲡᲐᲒᲖᲣᲠᲘ 30 ᲐᲞᲠᲘᲚᲘᲡ ᲤᲘᲜᲐᲚᲣᲠ ᲢᲣᲠᲜᲘᲠᲔᲑᲖᲔ</p>
    </div>
    <div class="win-travel-body">
      <div class="win-travel-left">
        <!-- პატარა კომპონენტი -->
        <div class="win-travel-item-small">
          <div class="round-div"><img src="./assets/poker-item-1-ticket-icon.png" alt="travel-ticket-logo"></div>
          <p class="win-travel-title">“Cashgame Highrollers” -</p>
          <p class="win-travel-text">1 საგზური</p>
        </div>
        <!-- პატარა კომპონენტი მდე  -->
        <!-- პატარა კომპონენტი -->
        <div class="win-travel-item-small">
          <div class="round-div"><img src="./assets/poker-item-1-ticket-icon.png" alt="travel-ticket-logo"></div>
          <p class="win-travel-title">„Cashgame Grinders” -</p>
          <p class="win-travel-text">1 საგზური</p>
        </div>
        <!-- პატარა კომპონენტი მდე  -->
        <!-- პატარა კომპონენტი -->
        <div class="win-travel-item-small">
          <div class="round-div"><img src="./assets/poker-item-1-ticket-icon.png" alt="travel-ticket-logo"></div>
          <p class="win-travel-title">„Tournament Sharks“ -</p>
          <p class="win-travel-text">1 საგზური</p>
        </div>
        <!-- პატარა კომპონენტი მდე  -->
      </div>
      <div class="win-travel-right">
        <!-- didi komponenti -->
        <div class="win-travel-item-big">
          <div class="round-div"><img src="./assets/poker-item-2-ticket-icon.png" alt="travel-ticket-logo"></div>
          <p class="win-travel-title">„The Festival in Malta, GTD“</p>
          <p class="win-travel-text">A კატეგორიის 1 საგზური</p>
          <p class="win-travel-text">B კატეგორიის 1 საგზური</p>
          <p class="win-travel-text-body">ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾ ბაი-ინის გადახდით.</p>
        </div>
        <!-- didi komponenti mde -->
        <!-- didi komponenti -->
        <div class="win-travel-item-big">
          <div class="round-div"><img src="./assets/poker-item-1-ticket-icon.png" alt="travel-ticket-logo"></div>
          <p class="win-travel-title">„The Lord of the Rings“</p>
          <p class="win-travel-text">C კატეგორიის 1 საგზური</p>
          <p class="win-travel-text-body">ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾ ბაი-ინის გადახდით.</p>
        </div>
        <!-- didi komponenti mde -->
      </div>

    </div>
    <div>
      <p class="rules-text">* თუ მოთამაშე მოიგებს ბეჭედს ორჯერ ან მეტჯერ, ის The Lord of the Rings ტურნირზემოხვდება ბეჭდების შესაბამისი რაოდენობის სტეკით</p>
      <p class="rules-text"> *ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾-იანი ბაი-ინის გადახდით.</p>

    </div>

  </div>

<div class="win-travel-table">
  <div class="win-travel-header">
    <div class="travel-table-line"></div>
    <img src="./assets/key.png" alt="key-img">
  </div>
      <div class="section-middle-text">მოთამაშეები გარკვეული საპრიზო ადგილების დაკავების შემთხვევაში მიიღებენ საიდუმლო გასაღებს</div>
<div class="card-section-content">
  <div class="table-body">
    <ul class="table-body-row">
      <li><span>1</span></li>
      <li>A კატეგორიის საგზური</li>
    </ul>
    <ul class="table-body-row">
      <li><span>2</span></li>
      <li>B კატეგორიის საგზური</li>
    </ul>
    <ul class="table-body-row">
      <li><span>3</span></li>
      <li>სპეც. ტურნირის ბილეთი</li>
    </ul>
    <ul class="table-body-row">
      <li><span>4</span></li>
      <li>სპეც. ტურნირის ბილეთი</li>
    </ul>
    <ul class="table-body-row">
      <li><span>5</span></li>
      <li>სპეც. ტურნირის ბილეთი</li>
    </ul>
    <ul class="table-body-row">
      <li><span>6</span></li>
      <li>სპეც. ტურნირის ბილეთი</li>
    </ul>
    <ul class="table-body-row">
      <li><span>7</span></li>
      <li>სპეც. ტურნირის ბილეთი</li>
    </ul>
    <ul class="table-body-row">
      <li><span>8</span></li>
      <li>სპეც. ტურნირის ბილეთი</li>
    </ul>
  </div>
</div>
</div>






