<section class="card-container multiple-section">
  <div class="card-header">
    <h2 class="title">1₾ რეიქი = 1 ქულას</h2>
  </div>
  <div class="card-body">
    <div class="card-section">
      <div class="card-section-title link">
        <h3>TOP20 ლიდერბორდი ჰოლდემში <img src="./assets/example-icon.png" alt="info icon"></h3>
      </div>
      <div class="card-section-content">
        <div class="table-container">
          <div class="table-header">
            <ul>
              <li>პოზიცია</li>
              <li><img src="./assets/vaucher.png" alt="vaucher-img">ვაუჩერი</li>
              <li>პრიზი</li>
            </ul>
          </div>
          <div class="table-body">
            <ul class="table-body-row">
              <li><span>1</span></li>
              <li>-</li>
              <li>A კატეგორიის საგზური</li>
            </ul>
            <ul class="table-body-row">
              <li><span>2</span></li>
              <li>-</li>
              <li>B კატეგორიის საგზური</li>
            </ul>
            <ul class="table-body-row">
              <li><span>3</span></li>
              <li>1500 ₾</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>4</span></li>
              <li>1200 ₾</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>5</span></li>
              <li>1200 ₾</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>6</span></li>
              <li>1200 ₾</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>7</span></li>
              <li>1200 ₾</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>8</span></li>
              <li>1200 ₾</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-section">
      <div class="card-section-content">
        <ul class="card-list">
          <li>
            <div class="icon-container">
              <img src="./assets/travel-icon-sm.png" alt="ticket icon">
            </div>
            <p class="text">The Festival in Malta-ს საგზური</p>
          </li>
          <li>
            <div class="icon-container">
              <img src="./assets/ticket-icon-sm.png" alt="ticket icon">
            </div>
            <p class="text">სპეციალური ტურნირის „Cashgame Sharks” ბილეთი, სადაც გათამაშდება The Festival in Malta-ს საგზური</p>
          </li>
          <li>
            <div class="icon-container">
              <img src="./assets/travel-icon-sm.png" alt="ticket icon">
            </div>
            <p class="text">ტექნიკის მაღაზიის ვაუჩერი</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-section">
      <div class="card-section-title link">
        <h3>TOP20 ლიდერბორდი ჰოლდემში <img src="./assets/example-icon.png" alt="info icon"></h3>
      </div>
      <div class="card-section-content">
        <div class="table-container">
          <div class="table-header">
            <ul>
              <li>პოზიცია</li>
              <li><img>ვაუჩერი</li>
              <li>პრიზი</li>
            </ul>
          </div>
          <div class="table-body">
            <ul class="table-body-row">
              <li><span>1</span></li>
              <li>-</li>
              <li>A კატეგორიის საგზური</li>
            </ul>
            <ul class="table-body-row">
              <li><span>2</span></li>
              <li>-</li>
              <li>B კატეგორიის საგზური</li>
            </ul>
            <ul class="table-body-row">
              <li><span>3</span></li>
              <li>1500</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>4</span></li>
              <li>1200</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>5</span></li>
              <li>1200</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>6</span></li>
              <li>1200</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>7</span></li>
              <li>1200</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
            <ul class="table-body-row">
              <li><span>8</span></li>
              <li>1200</li>
              <li>სპეც. ტურნირის ბილეთი</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-section">
      <div class="card-section-content">
        <ul class="card-list">
          <li>
            <div class="icon-container">
              <img src="./assets/travel-icon-sm.png" alt="ticket icon">
            </div>
            <p class="text">The Festival in Malta-ს საგზური</p>
          </li>
          <li>
            <div class="icon-container">
              <img src="./assets/ticket-icon-sm.png" alt="ticket icon">
            </div>
            <p class="text">სპეციალური ტურნირის „Cashgame Sharks” ბილეთი, სადაც გათამაშდება The Festival in Malta-ს საგზური</p>
          </li>
          <li>
            <div class="icon-container">
              <img src="./assets/travel-icon-sm.png" alt="ticket icon">
            </div>
            <p class="text">ტექნიკის მაღაზიის ვაუჩერი</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <p class="additional-info">* ლიდერბორდის შედეგები განახლდება <a href="#">პოკერის ლობიში</a></p>
  </div>
</section>
