/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('./assets/fonts/helvetica/HelveticaNeue-Bold.eot');
  src: url('./assets/fonts/helvetica/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/helvetica/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg'),
  url('./assets/fonts/helvetica/HelveticaNeue-Bold.ttf') format('truetype'),
  url('./assets/fonts/helvetica/HelveticaNeue-Bold.woff') format('woff'),
  url('./assets/fonts/helvetica/HelveticaNeue-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url('./assets/fonts/helvetica/HelveticaNeue-Light.eot');
  src: url('./assets/fonts/helvetica/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/helvetica/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg'),
  url('./assets/fonts/helvetica/HelveticaNeue-Light.ttf') format('truetype'),
  url('./assets/fonts/helvetica/HelveticaNeue-Light.woff') format('woff'),
  url('./assets/fonts/helvetica/HelveticaNeue-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url('./assets/fonts/helvetica/HelveticaNeue-Medium.eot');
  src: url('./assets/fonts/helvetica/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/helvetica/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg'),
  url('./assets/fonts/helvetica/HelveticaNeue-Medium.ttf') format('truetype'),
  url('./assets/fonts/helvetica/HelveticaNeue-Medium.woff') format('woff'),
  url('./assets/fonts/helvetica/HelveticaNeue-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/helvetica/HelveticaNeue.eot');
  src: url('./assets/fonts/helvetica/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/helvetica/HelveticaNeue.svg#HelveticaNeue') format('svg'),
  url('./assets/fonts/helvetica/HelveticaNeue.ttf') format('truetype'),
  url('./assets/fonts/helvetica/HelveticaNeue.woff') format('woff'),
  url('./assets/fonts/helvetica/HelveticaNeue.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
